* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 500px;
    height: 650px;
    background-color: #1f1f1f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 576px) {
    .calculator {
        width: 100vw;
        height: 100vh;
    }
}

.screen {
    background-color: #9DC209;
    width: 80%;
    height: 16%;
    margin-top: 10%;
    border-radius: 10px;
}

.clearButton {
    width: 10%;
    height: 5%;
    background-color: #ff8c00;
    border-radius: 17px;
    margin-top: 3%;
    align-self: flex-end;
    margin-right: 10%;
    color: white;
    text-align: center;
}